{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock %}



{% block 'dashboard' %}

    <div class="row">
        <div class="col-md text-center cabecalho">
            <p> Título </p>
        </div>
        <div class="col-md text-center cabecalho">
            <p> Sinopse </p>
        </div>
        <div class="col-md text-center cabecalho">
            <p> Quantidade </p>
        </div>
        <div class="col-md text-center cabecalho">
            <p> Ações </p>
        </div>
    </div>

    <br>
    {%for dvd in lista%}
        {%if dvd.quantidade >= 0%}
            <div class="row">
                <div class="col-md text-center">
                    <p> {{dvd.titulo}} </p>
                </div>
                <br>
                <div class="col-md text-center">
                    <p> {{dvd.sinopse}} </p>
                </div>
                <br>
                <div class="col-md text-center">
                    <p> {{dvd.quantidade}} </p>
                </div>
                <br>
                <div class="col-md text-center">
                    <form action="{% url 'deletar-dvd'%}" method="POST">{% csrf_token %}
                        <input type="hidden" name="id" value="{{dvd.id}}" />
                        <input type="submit" value="delete" class="btn btn-danger"/>
                    </form>
                </div>
                <br>
                
            </div>
        {%endif%}
    {% endfor %}
{% endblock %}



