{% extends "base.html" %}
{% load static %}


{% block 'head' %}
    <link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}">
{% endblock %}


{% block 'dashboard' %}

    <div class="container">
        <div class="text-center">
            <h3 class="title" style = "font-weight: bold">Login do Cliente</h3>    
        </div>
        <form action="{%url 'login-cliente'%}" method="POST"> {%csrf_token%}
                <div class="col-md-3" style="position: relative; justify-content: center;">
                    <div class="col-md-10">
                        <input class="form-control" type="email" name="email" placeholder="Email" id='e-mail'/>
                    </div>
                    <br>
                    <div class="col-md-10">
                        <input class="form-control" type="password" name="senha" placeholder="Senha" id='senha'/>
                    </div>
                    <br>
                    <div class="col-md-3">
                        <input type='submit' value='Logar' class="btn btn-success" style="margin-top: 20px" />
                    </div>
                    <br>
                    <div class="col-md-12">
                        <label for="cadastro-cliente">Ainda não tem conta? Registre-se no nosso sistema</label>
                        <a class="btn btn-primary" href="{%url 'cadastro-cliente'%}" id="cadastro-cliente">Novo Cadastro</a>
                    </div>
                </div>
                
        </form>

    </div>

{% endblock %}

<script src="{% static 'clientes/js/clientes.js' %}"></script>